.contact {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20rem;
  align-items: center;
  padding: 6rem 0rem;
}
.contact__description {
  font-size: 20px;
  line-height: 1.5;
}
.contact__email {
  font-weight: bold;
  margin: 2.5rem 0;
}

.contact__social {
  transition: var(--transition-timing);
  -webkit-transition: var(--transition-timing);
  -moz-transition: var(--transition-timing);
  -ms-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
}
.contact__social:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.contact__inputs {
  display: flex;
  gap: 3rem;
}
.contact__input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.1rem solid var(--color-input-border);
  flex: 1;
  width: 100%;
}

.contact__textarea {
  width: 100%;
  margin-top: 4rem;
}
.contact__button {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 0.6rem 2.2rem;
  font-weight: var(--font-weight-medium);
  font-size: 24px;
  margin-top: 3.4rem;
  cursor: pointer;
}
form:invalid::after {
  content: "!";
  font-size: 35px;
  color: red;
}
