.skills {
  margin-top: 8rem;
  padding-bottom: 8rem;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
  /* padding-top: 5rem; */
}
.skills__item {
  transition: var(--transition-timing);
  -webkit-transition: var(--transition-timing);
  -moz-transition: var(--transition-timing);
  -ms-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
  user-select: none;
}
.skills__item:hover {
  text-shadow: 0 0 7px var(--color-green);
}
.skills__titel {
  font-size: 30px;
  font-weight: var(--font-weight-semi-bold);
}
.skills__years {
  display: inline-block;
  font-size: 18px;
  margin-top: 1rem;
}
